<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="记事本.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <记事本.Properties.Settings>
            <setting name="TabNames" serializeAs="String">
                <value>标签页1</value>
            </setting>
            <setting name="TabData" serializeAs="String">
                <value>[{Data:""}]</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTop" serializeAs="String">
                <value>False</value>
            </setting>
        </记事本.Properties.Settings>
    </userSettings>
</configuration>